.dateandtime {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8rem;

}

.pickerbody {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgb(179, 179, 179);
    background-color: rgb(255, 251, 139);
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    gap: 30px;
}

label {
    font-size: 20px;
}

.dur input {
    width: 14rem;
    height: 3rem;
    margin-left: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 16px;
    background-color: rgb(255, 254, 225);
}

.cont span {
    align-items: center;
    font-size: 20px;
}

.cont p {

    color: gray;
}