.dateandtime {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
}

.dateandtimediv {
    background-color: rgb(64, 124, 255);
    padding: 56px;
    width: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.duration {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.duration label {

    color: white;
    font-size: 18px;

}

.duration input {
    height: 2.5rem;
    width: 14rem;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 18px;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.datetimepicker {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont :nth-child(1) {
    color: rgb(255, 255, 255);
    margin-bottom: 8px;

}

.cont .date {
    display: flex;
    flex-wrap: wrap;
}

.cont :nth-child(2) :nth-child(1) {
    color: black;
    height: 2.5rem;
    padding: 0 12px;
    border-radius: 8px;
    border: none;
    outline: none;


}

.btn {
    display: flex;
    justify-content: center;
    align-items: center
}

.btn button {
    width: 24%;
    height: 2.2rem;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

}


@media only screen and (max-width: 1375px) {
    .dateandtimediv {

        width: 50%;

    }
}

@media only screen and (max-width: 1061px) {
    .dateandtimediv {

        width: 60%;

    }
}

@media only screen and (max-width: 860px) {
    .dateandtimediv {

        width: 80%;

    }
}

@media only screen and (max-width: 643px) {
    .dateandtimediv {

        width: 96%;

        padding: 56px 12px;
    }
}

@media only screen and (max-width: 643px) {
    .dateandtimediv {

        width: 96%;

        padding: 56px 12px;
    }
}

@media only screen and (max-width: 460px) {
    .dateandtimediv {

        width: 96%;
        padding: 56px 10px;
    }

    .datetimepicker {
        flex-wrap: wrap;
    }
}